*{
    padding: 0;
    margin: 0;
  
}

body{
    /* border: 1px solid red; */
    display: flex;
    height: 96vh;
    justify-content: center;
    align-items: center;
}

.containe{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50PX;
    width: 82rem;
    height: 100%;
    height: 95vh;
    margin-top: 30px;
}

.containe .right img{
    width: 20rem;
    height: 42.3rem;
    object-fit: cover;
    /* position: absolute; */
}

.right p{
    position: relative;
    top: -25rem;
    padding-left: 30px;
    text-align: center;
    font-size: 25px;
    color: black;
}


/* left */
.containe .left{
    display: flex;
    width: 100%; 
    height: 100vh;
}

.group{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
}

.group .span1{
    margin-left: 50%;
    text-decoration: underline;
    margin-top: 20px;
}

.group2{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}


.group3{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.group4{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
}
.formulaire {
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: 50PX;
    margin-top: 30px;
}

.formulaire .radio > div{
    display: flex;
    align-items: center;
    width: 100%;
}

.span8{
    float:right;
    padding-left: 33vh;
    text-decoration: underline;
}

.radio .div1{
    width: 100%;
}

.group3{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 6%;

}

.control{
    width: 24rem;
    height: 2rem;
}

.mode{
    float: right;
    text-align: center;
    align-items: center; 
}


button{
    text-decoration: none;
    border: none;
    border: 1px solid rgb(14, 155, 148);
    display: flex;  
    float: right;
    color: #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.6s ease; 
    margin: 15px; 
}

.SUBMIT{
    background-color: rgb(14, 155, 148);
    color: #fff;
    font-size: 17px;
    width: 90px;
    height: 60px;
}

.RESET{
    color: #333;
    font-size: 17px;
    width: 90px;
    height: 60px; 
}


.submit{
   padding-left: 20px;
   font-size: 18px;
   margin-top: 6%;  
}

.bar{
    margin-left: 10px;    
} 

.info{
    display: flex;
    justify-content: space-between;
} 


.info span{
    font-size: 20px;
    font-weight: 400px;
    height: 27px;
    color: #fff;
    background-color: rgb(14, 155, 148);
    position: absolute;
    left: 60%;
    margin-top: -18px;
    translate: translate (-50%,-50%);
    border-radius: 10%; 
}

.ligne{
    height: 10px;
    width: 90%;
    background-color: #333;
    border-radius: 0%;
    position: relative;
}

.ligne::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(14, 155, 148);
}

.ligne::before{
    width: 55%;
}


/* LA RESPONSIVITE */

@media screen and (max-width: 928px) {
    .containe{
        display: block; 
        width: 100vh;  
        max-width: 100vh;
        max-height: 100vh;
        border: none;
    }

    img{
        width: 99vh;
        max-width: 100vh;
        margin-bottom: 15px;
        margin-left: 10%;
    }

    .para{
        position: absolute;
        text-align: center;
        font-size: 25px;
        color: #fff;
        justify-content: center;
        align-items: center;
       
    }

    .containe .left{
        margin-left: 10px;
        width: 100vh;
        height: 100vh;
        margin-top: 20%;
    }

    .mode{
        margin-right: 17px;
        margin-top: -3%;
    }

    .control{
        width: 20%;
    }
    
    .group{
        display: block;
        
    }

    .btn button{
        margin-right: 15%;
    } 

    .ligne::before{
        width: 70%;
    }

    span{
        left: 60%;
        margin-top: -18px;
        translate: translate (-50%,-50%);
        
}



